/* Inter Font Family */
body {
  font-family: 'Inter',system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  padding-top: 72px;
}

h1, h2, h3, h4, h5, h6 {
  color: #0e5677;
}

.ff-serif {
  font-family: "IBM Plex Serif", serif;
}

.btn-primary {
  background-color: #428bca;
  border-color: #428bca;
}

.container-sm {
  max-width: 900px;
}

.card {
  transition: transform .2s;
}

.card:hover {
  transform: scale(1.1);
}

.card h1, .card h2, .card h3, .card h4, .card h5, .card h6 {
  color: white;
}

a {
  color: #428bca;
}

a:hover {
  color: inherit;
}

.fl-separator {
  border-top: 2px solid #607685;
  width: 50%;
  margin: 30px auto;
}

/* Reposition hero text on homepage */
.carousel-caption {
  top: 15%;
  bottom: 0;
}

/* Hide original dropdown icon */
.dropdown-toggle::after {
  display: none !important;
}

/* Restyle Nav Items */
.navbar-light .navbar-nav .nav-link {
  font-size: .9rem;
  color: #607685;
  text-transform: uppercase;
  padding-right: .75rem;
  padding-left: .75rem;
}

.navbar-light .navbar-nav .nav-link.active {
  font-weight: bold;
  color: #607685;
}

.dropdown-item {
  text-transform: uppercase;
  font-size: .9rem;
  padding: .75rem 1rem;
}

.dropdown-item.active {
  background-color: #eee;
  font-weight: bold;
}

.dropdown-item:active {
  background-color: #aaa;
  color: black;
}

.navbar-nav .dropdown-menu {
  border: 0;
  padding: 0;
  overflow: hidden;
}

.navbar {
  box-shadow: 0 1.5rem 4rem rgb(22 28 45 / 35%);
}

/* Re-style dropdown only on medium devices and larger */
@media all and (min-width: 992px) {
  .navbar-nav .dropdown-menu {
    box-shadow: 0 1.5rem 4rem rgb(22 28 45 / 35%);
    width: 250px;
  }

  .navbar-nav .dropdown-menu, .dropdown-item {
    white-space: normal;
  }
}

.navbar .nav li .dropdown-menu li a {white-space: normal;}

/* Allows dropdowns to show via hover instead of click */
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}

@media all and (max-width: 992px) {
  .navbar-light .navbar-nav .nav-link {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
